{
    "root": true,
    "extends": "eslint-config-airbnb",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 7
    },
    "rules": {
        "no-unused-vars": ["warn"],
        "no-var": ["off"],
        "one-var": ["off"]
    }
}
